.game-session {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    .charts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .chart-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            .chart-container {
                .MuiChartsAxis-root {
                    opacity: .5;
                }
            }
            .chart-description {
                margin-top: 32px;
                opacity: 0.5;
            }
        }
    }
}